html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #262626;
  background-color: #e5e5e5;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* =========
    Navbar
   ========= */
.navbar {
  background: #ccc;
  border: none;
}

.navbar-brand,
.navbar-nav li a {
  font-size: 1.8em;
}

.navbar-toggle {
  border: none;
}

.navbar-collapse {
  margin-right: 15px;
  border: none;
}

.logo-small {
  max-height: 50px;
  margin-left: 10px;
}

a.navbar-brand.company-name {
  color: #0f75bc;
  font-weight: bold;
}

/* =========================
    Main Content Container
   ========================= */
.main-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  top: -50px;
  padding: 0;
}

.section-title {
  padding: 25px 25px;
}

.text {
  max-width: 800px;
  margin: auto;
}

.download {
  margin: 50px auto;
  padding: 15px 25px;
  font-size: 2em;
  font-weight: bold;
  background-color: #2eff53;
}

.download:hover {
  color: #ccc;
  background-color: #126623;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
  margin-top: -50px;
}

/* ========
    Title
   ======== */
.title-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  min-height: 75vh;
  margin: auto 0;
  font-family: 'Hind', sans-serif;
  background: url("../img/minformer_screenshot_2.png") no-repeat center center fixed;
  background-size: cover;
}

.title-details {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  min-height: 75vh;
  padding: 125px 25px 75px 25px;
  background-color: rgba(33,33,33,0.4);
  width: 100%;
  margin: 0;
}

.game-title {
  max-width: 100%;
  height: auto;
  padding: 20px 50px;
  margin: auto;
}

.tagline {
  color: #ccc;
}

.title-container .game-description {
  padding-top: 35px;
  color: #ccc;
}

/* ========
    About
   ======== */
.about-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

.game-screenshot {
  max-width:100%;
  max-height: 75vh;
  margin: auto;
  padding: 50px 0;
}

.about-container .game-description {
  max-width: 900px;
}

.games-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex: 1;
}

.game {
  flex-basis: auto;
  margin: auto;
  padding: 25px 25px;
}

/* =========
    Contact
   ========= */
#contact {
  padding-bottom: 50px;
}

/* =========
    Footer
   ========= */
footer {
  padding: 10px 15px;
  text-align: left;
}

/* ===============
    Media Queries
   =============== */
@media (max-width: 600px) {
  .navbar {
    padding: 0 20px;
  }

  .company-name {
    display: none;
  }
}
